/pycentral-docx.code-workspace
test*.py
/log
/token
/*.json
/images
/docx
/bom
/docxcentral/__pycache__
/docxcentral/lib/__pycache__/*.pyc
/docxcentral/data
/docxcentral/docx
/docxcentral/log
/docxcentral/token
/docxcentral/*.json
/docxcentral/bom
/docxcentral/Floors
/docxcentral/images
